#discography img {
	width: 100%;
}

#discography {
	
}

table{
    border-color: lightgrey;
    border-bottom-color: lightgrey;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54); 
   
    
}
